# Dependencies
node_modules/

# Compiled
dist/

# Environment
.env

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store

# WhatsApp session
.wwebjs_auth/
.wwebjs_cache/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class